<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="esofsga" connectionString="data source =C:\Users\wangg\source\repos\ideaXspace\Esofsga\esofsga.db ;version = 3; "/>
    <!--此处的server可以写(local)或者写个点.-->
    <!--<add name="SQLConnString" connectionString="server=.;database=数据库名;uid=用户名;pwd=密码" />-->
    <!-- 其中name是连接字符串的标识名（类似于一个别名）。connectionString就是你的连接字符串。可以写多个add节点。
          注意：格式是固定的
       3.在解决方案资源管理器中你的项目中右键【引用】，添加 System.configuration 引用。在代码中同时需要
       using System.Configuration;
       4.开始获取了
       string connstr= ConfigurationManager.ConnectionStrings["myconn"].ConnectionString;  
       SqlConnection cn = new SqlConnection(connstr);  
       cn.Open();  
       此时数据库已经打开，可以写相应代码了
       
       3.配置你的MYSQL数据库链接字符串如下：

       //数据库连接字符串
      public static string Conn = "Database='数据库名';Data Source='数据库服务器地址';User Id='数据库用户名';Password='密码';charset='utf8';pooling=true";
     -->
    <add name="ConStr" connectionString="server=.\;database=test;uid=sa;pwd=123456"/>
  </connectionStrings>
</configuration>
