<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="conStr" connectionString="server=1127.0.0.1;database=esosb;port=3306;uid=root;pwd=4585;charset=utf8;pooling=true;SslMode = none" />
    <!--数据库远程连接，不允许使用root用户名，所以，必须要新创建用户。-->
    <!--使用Workbench导出和导入数据库时，要先在即将导入库的Mysql服务器上创建一个同名的数据库，然后再将已导出的数据库文凭(*.sql)继续导入才能成功。-->
    <!-- <add name="conStr" connectionString="server=10.3.50.34;database=esosb;port=3306;uid=WangGQ;pwd=W4a5n8g5$%*%;charset=utf8;pooling=true;SslMode = none"/>-->
  </connectionStrings>
</configuration>